.add_item {
  .round_outside {
    position: relative;
    display: flex;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 3px solid grey;
    .round_inside {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 50%;
      &::after {
        content: 'Добавить элемент';
        position: absolute;
        width: 4em;
        display: block;
        text-align: center;
        left: 3em;
        top: 0;
        color: grey;
      }
    }
  }
}
